.idea
node_modules
**/dist*
results
.nyc_output
*.tsbuildinfo
.DS_Store
**/.DS_Store
# SpecStory explanation file
.specstory
.cursorrules
.cursorignore
.cursor
.vscode
.cursorindexingignore
# SpecStory explanation file
.specstory/.what-is-this.md
.specstory/**
