target
*.log
*.sublime*
*~
*.pyc
result
.DS_Store
**/.DS_Store
test-db
**/db
redis-data/
examples/

perf2

qed_prover/examples/debug_data/
target/
**/node_modules/
.idea/
*.sh
.cursor
.cursorrules
.cursorignore
.specstory
.cursorindexingignore
