{
	"users_per_realm": 4096,
	"realm_configs": [
		{
			"id": 0,
			"rpc_url": [
				"http://127.0.0.1:8546",
				"http://127.0.0.1:9546"
			]
		},
		{
			"id": 2048,
			"rpc_url": [
				"http://127.0.0.1:8547",
				"http://127.0.0.1:9547"
			]
		},
		{
			"id": 1024,
			"rpc_url": [
				"http://127.0.0.1:8548",
				"http://127.0.0.1:9548"
			]
		}
	],
	"coordinator_configs": [
		{
			"id": 0,
			"rpc_url": [
				"http://127.0.0.1:8545",
				"http://127.0.0.1:9545"
			]
		}
	]
}