.faucetFromWallet {
  position: relative;
  top:0;
  left:0;

  width: 100%;
  .modalTitle {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
  }
}

.faucetFromWalletForm {
  position: relative;
  top:0;
  left:0;

  width: 100%;
  .formControls {
    position: relative;
    top:0;
    left:0;
  
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-top:24px;
    width: 100%;
  }
  .inputCon {
    padding-top:12px;
    &:first-child {
      padding-top:0px;
    }
    input {
      font-family: var(--wallet-widget-font-mono) !important;
    }
  }
}
.depositInfoCon {
  padding: 12px 0px 0px 0px;
}
.depositInfo {
  margin-top: 12px;
  padding:12px;
  margin:4px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(0,0,0,0.5);
  border-radius: 4px;
  .depositHeader {
    font-size: 16px;
  }
  .depositRow {
    display: block;
    padding: 12px 0px;
    font-family: var(--wallet-widget-font-mono);
    width: 100%;
    .depositLabel {
      font-size: 10px;
      font-weight: 500;
      text-transform: uppercase;
      color: #fff;
    }
    .depositValue {
      font-size: 14px;
      font-weight: 300;
      display: block;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
    .depositValueHash {
      font-size: 14px;
      font-weight: 300;
      width: 100%;
      align-items: center;
      overflow: hidden;
      width: 100%;
      position: relative;
      text-overflow: ellipsis;
      display: block;
      max-width: 100%;
      top: 0;
      padding-right: 24px;
      left: 0;
    }
  }
}

.copyBtn {
  position: absolute;
  right: 0;
  top: -4px;
}