.walletTransaction {
  width: 100%;
  position: relative;
  top:0;
  left:0;
  .cardTop {
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    position: relative;
    top:0;
    left:0;
    .txid {
      width: calc(100% - 48px);
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      text-wrap: nowrap;
      font-size: 12px;
      font-family: var(--wallet-widget-font-mono);
    }
    .actionIcon {
        position: absolute;
        top:-8px;
        right:0;
        z-index: 5;
        padding-top:12px;
        padding: 12px 4px 4px 4px; 
    }
  }
}

.walletTransactionsWidget {
  display: flex;
  flex-direction: column;
  padding:8px;
  max-width: 700px;
  width: 100%;
}

.walletTransactionContainer {
  display: block;
  width: 100%;
  outline:none;
  cursor: pointer;
  padding:4px;
}

.txValue {
  display: block;
  flex-grow: 1;
  font-size: 20px;
  font-family: var(--wallet-widget-font-mono);
  text-align: right;
  .valueNegative {
    color: #f82b11;
  }
  .valuePositive {
    color: #17be17;
  }
  .txStatus {
    padding-top:4px;
  }
}

.txCoreSummary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:12px 4px 0px 4px;
}