.blockVizJobSummary {
  display: block;
  font-family: var(--font-sans);
  padding-bottom:12px;
  border-bottom: 1px solid #555;
  .blockVizJobSummaryTop {
    padding:4px;
    .bvjsTitle {
      font-size: 15px;
      color: #eee;
      font-weight: bold;
    }
    .bvjsDescription {
      font-size: 11px;
      color:#eee;
      padding-bottom: 8px;
    }
    .bvjsSummary {
      max-width: 100%;
      width: 100%;
      display: block;
      font-size: 14px;
      color:#e0e0e0;
    }
    padding-bottom:12px;
    border-bottom: 1px solid #555;

  }
  .blockVizJobActions {
    display: block;
    border-bottom: 1px solid #555;
    padding-bottom:12px;

  padding-top:12px;
    .actionsTitle {
      font-size: 14px;
      color:#eee;
    }
    .bvjaAction {
      display: block;
      padding-left: 20px;
      font-size: 12px;
      color:#f0f0f0;
    }
  }
  .blockVizJobWitness {
    padding-top:12px;
    .blockVizJobWitnessRawTA textarea{
      height: 300px;
      font-size: 10px;
      font-family: var(--font-mono);
    }
  }
}