.faucetFromWallet {
  position: relative;
  top:0;
  left:0;

  width: 100%;
  .modalTitle {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
  }
}

.faucetFromWalletForm {
  position: relative;
  top:0;
  left:0;

  width: 100%;
  .formControls {
    position: relative;
    top:0;
    left:0;
  
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-top:24px;
    width: 100%;
  }
  .inputCon {
    padding-top:12px;
    &:first-child {
      padding-top:0px;
    }
    input {
      font-family: var(--wallet-widget-font-mono) !important;
    }
  }
}

.signatureResultCon {
  display: block;
  position: relative;
  top:0;
  left:0;
  width: 100%;
  .signatureResultConInner {
    display: block;
    position: relative;
    top:0;
    left:0;
    width: 100%;
    .copyButtonCon {
      z-index: 55;
      position: absolute;
      right:6px;
      bottom: 1px;
      display: inline-block;
    }

  }
  textarea {
    font-family: var(--wallet-widget-font-mono) !important;
    font-size: 12px;
    min-height: 150px;
  }
  .signatureResult {
    textarea {
      font-family: var(--wallet-widget-font-mono) !important;
    }
  }
}