.idePage {

  --wallet-widget-font-sans: 'Reddit Sans', --apple-system, ui-sans-serif,system-ui,BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
  'Droid Sans', 'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  --wallet-widget-font-mono: 'Reddit Mono', 'Fira Code', 'JetBrains Mono', 'SF Mono', 'Roboto Mono', Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  display: block;
  height: 100%;
  width: 100%;
  padding:0;
  margin:0;
  position: relative;
  top:0;
  left:0;
  overflow: hidden;
  $top-bar-height: 48px;
  .idePageTopBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $top-bar-height;
    background-color: #181818;
    border-bottom: 1px solid #333;
    color: #f2f2f2;
    z-index: 99;
    display: flex;
    flex-direction: row;
    padding:0px 24px;
    align-items: center;
    justify-content: space-between;
    .left {
      font-family: var(--wallet-widget-font-mono);
      font-weight: 300;
      font-size: 15px;
      display: flex;
      align-items: center;
      .cityLogo {
        height: 32px;
      }
    }
    .right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    
    }
  }
  .idePageContent {
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #f2f2f2;
  }
}